html, body {
    height:100%;
}

body {
    display:flex;
    align-items:center;
}

#register-form {
    border-right: thick dotted whitesmoke;
    padding-right: 80;
}

#login-form {
    padding-left: 80;
}