{{> head }}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/sec/dashboard">Follow Up</a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/sec/logout">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="container" class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        {{#application}}
          <div class="card">
            <div class="card-header text-center">
              <h1 class="card-title">{{title}} at {{company.name}}</h1>
              <h5 class="card-subtitle">{{city}}, {{state}} created {{creationDate}}</h5>
            </div>
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">{{description}}</p>
              {{#lastFollowup}}
              <ul class="list-group list-group-flush">
                <li class="list-group-item active">Next Followup:</li>
                <li class="list-group-item">{{type}} - {{date}}</li>
                <li class="list-group-item">{{contact.name}} - {{contact.phone}} - <a href="mailto:{{email}}">{{contact.email}}</a></li>
              </ul>
              {{/lastFollowup}}
            </div>
            <div class="card-footer">
              <div class="row justify-content-between no-gutters">
                <a href="/sec/followups/{{id}}" class="btn btn-primary col-2" role="button">Follow Up</a>
                <a href="/sec/dashboard" class="btn btn-info col-2" role="button">Cancel</a>
              </div>
            </div>
          </div>
        <!-- Modal -->
        <div class="modal fade" id="create-contact-modal" tabindex="-1" role="dialog" aria-labelledby="create-contact-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form action="/sec/contacts/{{id}}" method="post">
                <div class="modal-header">
                  <h5 class="modal-title" id="create-contact-label">New contact for {{name}} at {{company.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="contact-name">Name</label>
                    <input type="text" class="form-control" name="contact-name" id="contact-name" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label for="contact-phone">Phonenumber</label>
                    <input type="text" class="form-control" name="contact-phone" id="contact-phone" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label for="contact-email">Email</label>
                    <input type="text" class="form-control" name="contact-email" id="contact-email" autocomplete="off">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {{/application}}
      </div>
    </div>
  </div>
  {{> foot }}