<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/metisMenu.min.css">
  <link rel="stylesheet" href="/css/sb-admin.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/jquery.flexdatalist.css">
  <link rel="stylesheet" href="/css/tempus-dominus.css">
  <link rel="stylesheet" href="/css/app.css">
  <title>Lida</title>
</head>

<body class="fixed-nav">